<%- include('partials/header.ejs')%>
<div class="hero-container">


    <div class="form_container">
        <h1>Add Blog</h1>
        <form class="ui form" method="POST" action="/blog">
            <div class="field">
                <label>Blog Name</label>
                <input type="text" name="blog_name" placeholder="Blog Title">
            </div>
            <div class="field">
                <label>Image Url</label>
                <input type="text" name="blog_img" placeholder="Image Url">
            </div>
            <div class="field">
                <textarea name="blog_description" cols="20" rows="5" placeholder="description"></textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>

        </form>
    </div>

</div>

<%- include('partials/footer.ejs')%>